@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Sora:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;
}

/* FONTS  */

code {
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  font-family: 'Montserrat', sans-serif;
}

.playfair {
  font-family: 'Playfair Display', serif;
}


.width {
  min-width: 300px;
  min-height: 310px;
}

/* COLOR  */

.choc-brown {
  color: #f58d54;
}

.cream {
  color: #FFF5DC;
}

.background {
  background-color: #435152;
}

.bg-cream {
  background-color: #FFF5DC;
}

.border-color {
  border-color: #f58d54;
}

.input-error {
  border-color: #e94e4e;
}

.error {
  color: #e94e4e;
}

.checkbox {
  accent-color: #f58d54;
}

.border-cream {
  border-color: #FFF5DC;
}

.button-background {
  background-color: #f58d54;
}


/* RESPONSIVENESS  */

.hero-h1 {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #8B4513;
  font-weight: 900;
}

.wrapper::-webkit-scrollbar {
  width: 0;
}


.waitlist-grid-2 {
  border-left-width: 20px;
}


button:disabled {
  opacity: 0.35;
}


.right-height {
  height: 765px;
}

.about {
  height: 800px;
}

